/*** ヘッダー ***/
/* ヘッダー・タイトル */
.header-title {
    float: left;
    color: #00008b;
}

/* ヘッダー・メニュー */
.header-nav {
    float: right;
}

.header-nav-list {
    display: flex;
    list-style: none;
}

.header-nav-item { 
    padding: 0.5em 1em;
    margin: 0;
    font-size: 14px;
    color: #00008b;
} 

.header-nav-item-link {
    text-decoration: none;
    color: #00008b;
} 

/** メイン・画像 **/
.main-view {
    clear: both;
}
 
/* ビュー：全体 */
.main-view {
    margin: 10em 0 5em 0;
}

/* 相対位置：画像 */
.view-img {
    position: relative;
    float: right;
    width: 50%;
    z-index: 3;
}

/* 絶対位置：文字 */
.view-text {
    position: absolute;
    clear: both;
    top: 245px;
    left: 0;
    font-size: 48px;
    z-index: 2;
}

/* 絶対位置：ボックス */
.view-box {
    position: absolute;
    top: 350px;
    left: 0;
    width: 70%;
    height: 35%;
    background: #00008b;
    z-index: 1;
}